@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;600;700&display=swap');

:root {
  --space-smallest: 1px;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-sm: 16px;
  --space: 24px;
  --space-md: 32px;
  --space-lg: 48px;
  --space-xlg: 64px;
  --space-xxlg: 80px;

  --white: #FFFFFF;
  --gray: #A9A9A9;
  --gray1: #333333;
  --gray2: #4F4F4F;
  --gray3: #828282;
  --gray4: #BDBDBD;
  --gray5: #E0E0E0;
  --gray6: #F2F2F2;
  --gray7: #C4C4C4;

  --black: #000000;
  --blue: #2F80ED;

  --background: var(--gray6);
  --card-background: var(--white);
  
  --title-color: var(--gray2);
  --subtitle-color: var(--gray3);
  --project-title-color: var(--gray1);
  --project-paragraph-color: var(--gray3);
  
  --bar-track-color: var(--gray7);
  --bar-fill-color: var(--blue);

  --hobby-title-color: var(--gray1);
  --hobby-description-color: var(--gray3);

  --button-disabled-text-color: var(--gray3);
  --button-disabled-background-color: var(--gray5);

  --footer-text-color: var(--gray3);
}

* {
  box-sizing: border-box;
  outline: none;
  /* border: 1px solid red; */
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  width: 100%;
  overflow-x: hidden;

  font-family: "Montserrat";
  background: var(--background);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: stretch;
}

main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  justify-content: space-evenly;
  padding: var(--space-sm);
}

.card {
  width: 100%;
  background: var(--card-background);
  box-shadow: 0px 4px 32px rgba(0, 0, 0, 0.12);
  border-radius: 12px;
  padding: var(--space);
  margin: var(--space-sm) 0;
}

.card img {
  width: 100%;
  height: auto;
  max-height: 345px;
  border-radius: 12px;
}

div.profile-card {
  height: 600px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  margin: 0 0 var(--space-sm);
}

div.profile-card span#name {
  font-style: normal;
  font-weight: 600;
  font-size: 20px;
  line-height: 29px;
  
  color: var(--title-color);
}

div.profile-card span#role {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  
  color: var(--subtitle-color);
}

div.profile-card div.info,
div.profile-card div.contact {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

div.profile-card div.contact div.email,
div.profile-card div.contact div.phone {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

div.profile-card div.contact div.email span.material-icons,
div.profile-card div.contact div.phone span.material-icons {
  margin-right: var(--space-sm);
}

div.profile-card div.contact div.email span,
div.profile-card div.contact div.phone span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  
  color: var(--title-color);
}

div.profile-card span#bio {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 22px;
  
  color: var(--subtitle-color);
}

div.skills {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

div.skills div.card:first-child {
  margin: var(--space-sm) 0 var(--space-xs);
}

div.skills div.card:nth-child(2) {
  margin: var(--space-xs) 0;
}

div.skills div.card:last-child {
  margin: var(--space-xs) 0 var(--space-sm);
}

div.skills span.skill-title {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  
  color: var(--title-color);
}

div.skills ul.front-end-skills,
div.skills ul.mobile-skills,
div.skills ul.back-end-skills {
  width: 100%;
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-grow: 1;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-evenly;
}

div.skills ul.front-end-skills {
  height: 200px;
}

div.skills ul.mobile-skills {
  height: 150px;
}

div.skills ul.back-end-skills {
  height: 100px;
}

div.skills ul.front-end-skills li,
div.skills ul.mobile-skills li,
div.skills ul.back-end-skills li {
  padding: 0;
  margin: 0;
  list-style: none;

  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}

div.skills ul.front-end-skills li span,
div.skills ul.mobile-skills li span,
div.skills ul.back-end-skills li span {
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  
  color: var(--title-color);
}

div.skills ul.front-end-skills li div.progress,
div.skills ul.mobile-skills li div.progress,
div.skills ul.back-end-skills li div.progress {
  height: 12px;
  width: 100%;
  max-width: 50%;
  flex-grow: 1;
  border-radius: 12px;
  background-color: var(--bar-track-color);
}

div.skills ul.front-end-skills li div.progress div.bar,
div.skills ul.mobile-skills li div.progress div.bar,
div.skills ul.back-end-skills li div.progress div.bar {
  height: 12px;
  width: 0%;
  border-radius: 12px;
  background-color: var(--bar-fill-color);
}


div.projects-wrapper {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

div.projects-wrapper div.projects-title {
  /* margin: 0; */
  margin-bottom: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

div.projects-wrapper div.projects-title span {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  
  color: var(--title-color);
}

div.projects-wrapper div.projects-title div.project-info {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

div.projects-wrapper div.projects-title div.filter {
  height: 180px;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin: var(--space) 0;
}

div.projects-wrapper div.projects-title div.filter input[type="radio"] {
  opacity: 0;
  position: fixed;
  width: 0;
}

div.projects-wrapper div.projects-title div.filter label {
  display: inline-block;
  color: var(--title-color);
  background-color: transparent;
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid var(--title-color);
  border-radius: 12px;
  cursor: pointer;
}

div.projects-wrapper div.projects-title div.filter label:hover {
  color: var(--blue);
  border: 1px solid var(--blue);
}

div.projects-wrapper div.projects-title div.filter input[type="radio"]:focus + label {
  outline: none;
}

div.projects-wrapper div.projects-title div.filter input[type="radio"]:checked + label {
  border: 0;
  color: var(--white);
  background-color: var(--blue);
}

div.projects-wrapper ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

div.projects-wrapper ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div.projects-wrapper ul li img {
  margin-bottom: var(--space-md);
}

div.projects-wrapper ul li div.tags {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

div.projects-wrapper ul li div.tags span {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: var(--title-color);
  margin-right: var(--space-sm);
}

div.projects-wrapper ul li span.project-title {
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 29px;
  
  color: var(--project-title-color);
}

div.projects-wrapper ul li p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;
  
  color: var(--project-paragraph-color);
}

div.projects-wrapper div.buttons {
  height: 46px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}

div.projects-wrapper div.buttons a {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  padding: 0 var(--space-md);
  color: var(--white);
  background-color: var(--blue);
  border-radius: 12px;
  cursor: pointer;
}

div.projects-wrapper div.buttons a:last-child {
  margin-left: var(--space-sm);
  color: var(--blue);
  background-color: var(--white);
  border: 1px solid var(--blue);
}

div.hobbies {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

div.hobbies span.title {
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 29px;
  
  color: var(--title-color);
}

div.hobbies ul {
  list-style: none;
  padding: var(--space) 0 0 0;
  margin: 0;

  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: flex-start;
}

div.hobbies ul li {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin: var(--space-sm) 0;
}

div.hobbies ul li span {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 22px;
  margin-top: var(--space);
  
  color: var(--hobby-title-color);
}

div.hobbies ul li p {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 20px;

  color: var(--hobby-description-color);
}

footer {
  width: 100%;
  height: auto;
  text-align: center;
  margin-bottom: var(--space);
  
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer span {
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--footer-text-color);
  margin-bottom: var(--space);
}

footer span a {
  cursor: pointer;
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: var(--footer-text-color);
}

@media(min-width: 321px) {

  div.skills ul.front-end-skills li div.progress,
  div.skills ul.mobile-skills li div.progress,
  div.skills ul.back-end-skills li div.progress {
    max-width: 60%;
  }

}

@media(min-width: 425px) {
  .card img {
    max-height: 345px;
    max-width: 345px;
  }

  div.profile-card {
    max-width: 400px;
    align-items: stretch;
  }

  div.skills,
  div.hobbies,
  div.projects-wrapper {
    max-width: 400px;
  }

}

@media(min-width: 768px) {
  div.profile-card,
  div.skills,
  div.hobbies,
  div.projects-wrapper {
    width: 100%;
    max-width: 45%;
  }

  div.profile-card {
    height: 724px;
    margin: var(--space-sm) 0;
  }

  div.skills div.card {
    margin: var(--space-sm) 0;
  }

}

@media(min-width: 1024px) {
  div.profile-card {
    max-width: 400px;
    margin-bottom: 0;
  }

  div.profile-card div.info span#name {
    font-size: 24px;
  }

  div.profile-card div.info span#role {
    font-size: 18px;
  }

  div.profile-card div.contact div.email span,
  div.profile-card div.contact div.phone span {
    font-size: 18px;
  }

  div.profile-card span#bio {
    font-size: 18px;
  }

  div.skills span.skill-title {
    font-size: 18px;
  }

  div.skills ul.front-end-skills li div.progress
  div.skills ul.mobile-skills li div.progress
  div.skills ul.back-end-skills li div.progress {
    max-width: 75%;
  }

  div.projects-title {
    margin: var(--space-sm);
  }
  
  div.projects-wrapper {
    max-width: 55%;
    align-items: center;
  }
  
  div.skills, div.projects-wrapper {
    width: 100%;
    max-width: 55%;
  }

  div.projects-wrapper ul li img {
    max-width: 100%;
    width: 100%;
    height: auto;
    margin: 0 0 var(--space-md) 0;
  }
  
  div.projects-wrapper ul li div.project-info {
    width: 100%;
  }

  div.projects-wrapper ul li div.project-info div.tags span {
    font-size: 16px;
  }
  
  div.projects-wrapper ul li div.project-info span.project-title {
    font-size: 24px;
  }
  
  div.projects-wrapper ul li div.project-info p {
    font-size: 16px;
  }
  
  div.projects-wrapper ul li div.project-info div.buttons a {
    font-size: 18px;
  }

  div.hobbies {
    width: 100%;
    max-width: 400px;
  }
}

@media (min-width: 1440px) {
  div.profile-card {
    height: 896px;
    margin: var(--space-sm) 0;
  }

  div.skills {
    height: 100%;
    max-height: 926px;
    width: 100%;
    max-width: 512px;
    align-items: stretch;
    justify-content: flex-start;
    margin: 0;
  }

  div.skills ul.front-end-skills li div.progress
  div.skills ul.mobile-skills li div.progress
  div.skills ul.back-end-skills li div.progress {
    max-width: 70%;
  }
  
  div.projects-wrapper {
    max-width: 100%;
    margin: 0 var(--space);
  }

  div.projects-wrapper ul {
    flex-direction: row;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
  }

  div.projects-wrapper ul li {
    width: 49%;
    flex-direction: row;
    align-items: stretch;
  }

  div.projects-wrapper ul li img {
    max-width: 40%;
    margin: 0 var(--space-md) 0 0;
  }
}

@media(min-width: 2560px) {
  div.profile-card,
  div.skills {
    max-height: 893px;
    height: 100%;
  }

  div.profile-card img {
    max-height: 690px;
    max-width: 690px;
  }

  div.skills {
    max-width: 1024px;
  }
  
  div.projects-wrapper {
    max-width: 100%;
    margin: 0 var(--space);
  }
}